<div class="video_details">
<video id='hls-example'  class="video-js vjs-default-skin" width="400" height="300" controls>
    <source type="application/x-mpegURL" src="https://cdn.sabha.tv/videos/hls/28ba6723-1498-492b-a7d8-0c61db2b4303.m3u8">
    </video>

    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-dark" ><i class="fas fa-play"></i> Play</button>
            <button type="button" class="btn btn-dark" > Watch Trailer</button>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-dark"><i class="fas fa-heart"></i></button>
            <button type="button" class="btn btn-dark"><i class="fas fa-share-alt"></i></button>
        </div>
    </div>
</div>