
<!-- banner image display -->
<div id="home" *ngIf="id? false:true">
<div class="banner" *ngIf="slide">
 <img src="{{slide}}" class="image_size" alt="Random slide">
 </div>

 <!-- first category -->
<!-- 
 <div class="first-section row">
  <div class="col-10">
    <h6>{{webSeries}}</h6>
  </div>
  <div class="col-2">
    <a role="button" >
        <h6> View All</h6>
    </a>
  </div>
</div>
<ngb-carousel *ngIf="webVideos">
  <ng-template ngbSlide *ngFor="let w of webVideos">
    <div class="wrapper">
      <img src="{{w.thumbUrl}}" class="carousel-image" alt="web series video" (click)="getId(w.videoId)">
    </div>      
  </ng-template>   
</ngb-carousel> -->

  <!-- second section -->
  <div class="sections">

  <div class="row">
    <div class="col-10">
      <h6>{{songs}}</h6>
    </div>
    <div class="col-2">
      <h6> View All</h6>
      </div>
  </div>
  <div *ngIf="songVideos"> 
    <carousel>  
      <div class="carousel-cell"  *ngFor="let s of songVideos">
        
        <img src="{{s.thumbUrl}}" class="carousel-image" alt="song video" (click)="getId(s.videoId)">
      </div>
    </carousel>
  </div>
</div>
  <!-- Third section -->
  <!-- <div class="sections">

    <div class="row">
      <div class="col-10">
        <h6>{{sainaOriginals}}</h6>
      </div>
      <div class="col-2">
        <h6> View All</h6>
        </div>
    </div>
    <div *ngIf="originalsVideos"> 
      <carousel>  
        <div class="carousel-cell"  *ngFor="let o of originalsVideos">
          <img src="{{o.thumbUrl}}" class="carousel-image" alt="originals video" (click)="getId(o.videoId)">
        </div>
      </carousel>
    </div>
  
    </div> -->

     <!-- fourth section -->
  <div class="sections">

    <div class="row">
      <div class="col-10">
        <h6>{{movies}}</h6>
      </div>
      <div class="col-2">
        <h6> View All</h6>
        </div>
    </div>
    <div *ngIf="movieVideos"> 
      <carousel>  
        <div class="carousel-cell"  *ngFor="let m of movieVideos">
          <img src="{{m.thumbUrl}}" class="carousel-image" alt="movie video" (click)="getId(m.videoId)">
        </div>
      </carousel>
    </div>
  
    </div>
    <!-- Fifth section -->
  <!-- <div class="sections">

    <div class="row">
      <div class="col-10">
        <h6>{{hits}}</h6>
      </div>
      <div class="col-2">
        <h6> View All</h6>
        </div>
    </div>
    <div *ngIf="hitsVideos"> 
      <carousel>  
        <div class="carousel-cell"  *ngFor="let h of hitsVideos">
          <img src="{{h.thumbUrl}}" class="carousel-image" alt="hits video" (click)="getId(h.videoId)">
        </div>
      </carousel>
    </div>
  
  </div> -->
    <!-- sixth section -->
  <!-- <div class="sections">

    <div class="row">
      <div class="col-10">
        <h6>{{documentary}}</h6>
      </div>
      <div class="col-2">
        <h6> View All</h6>
        </div>
    </div>
    <div *ngIf="docVideos"> 
      <carousel>  
        <div class="carousel-cell"  *ngFor="let d of docVideos">
          <img src="{{d.thumbUrl}}" class="carousel-image" alt="documentary video" (click)="getId(d.videoId)">
        </div>
      </carousel>
    </div>
    
    </div>
  </div>
   -->
   </div>
<app-video [id]="id"></app-video>